ul.mailtip {
  float: none;
  background-color: #fcfeff;
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 0px 0px 3px 3px;
  overflow: hidden;
  border-top: none;
  font: 13px/1.5 Consolas, "Liberation Mono", Menlo, Courier, monospace, sans-serif;
}
ul.mailtip li p {
  text-align: left;
  line-height: 28px;
  cursor: pointer;
  margin: 0 9px;
  overflow: hidden;
  word-wrap: break-word;
  height: 28px;
}
ul.mailtip li:last-child {
  border-radius: 0px 0px 10px 10px;
}
ul.mailtip li.active {
  background: #eaeaea;
}
ul.mailtip li.hover {
  background: #e7f6ff;
}
